.chat-main
  .chat-main__group-info
    .left-items
      .group-name
        = @group.name
      .group-members
        Member :
        - @group.users.each do |user|
          = user.username
    .right-items
      .edit-btn
        = link_to edit_group_path(@group.id), class: "btn" do
          edit
  .chat-main__message-list
    = render @messages
  .chat-main__message-form
    = form_with model: [@group, @message], html: {class: "form-box"}, local: true do |f|
      .text
        = f.text_field :body, class: 'new_text', placeholder: 'type a message'
        = f.label :image, class: 'new_image' do
          = icon('far', 'image', class: 'image-icon')
          = f.file_field :image, class: 'image_file'
      = f.submit 'Send', class: 'submit_btm'