.side-bar 
  .side-bar__user-name
    .top-items
      .top-items--name
        = current_user.username
      .top-items--icon
        .top-items--icon--edit
          = link_to new_group_path, class: "top-items top-items--edit" do
            = icon('far', 'edit', class: "top-items--icon")
            %span<>
        .top-items--icon--cog
          = link_to edit_user_path(current_user), class: "top-items top-items--cog" do
            = icon('fas', 'cog', class: "top-items--icon")
            %span<>
  .side-bar__group-list
    - current_user.groups.each do |group|
      .group-index
        = link_to group_messages_path(group) do
          .group-index--group-name
            = group.name
          .group-index--last-message
            = group.show_last_message